[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target
[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/enotes
ExecStart=/home/ubuntu/enotes/env/bin/gunicorn --access-logfile - --workers 3 --bind unix:/run/gunicorn.sock Enotes_Management_System.wsgi:application

       
[Install]
WantedBy=multi-user.target